<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools And ecosystem

**Objectives:**



* Introduction
* Popular Data Science Languages
* Data science libraries
* Data Science tools
* Arithmetic expression to mutiply then add integers
* Hours to Minutes

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular Data Science Languages are:

1. Python
2. R
3. Scala
4. Java
5. Julia
6. Go(Golang)

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras
4. Scikit-Learn
5. Seaborn
6. Tensorflow


| Data Science Tools |
| --- |
| Jupyter Notebooks |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python:
1. exp = 2 + 3 * 4
2. exp = eval("2 + 3 * 4")

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

min = 200
hrs = 200/60

print("hours:",hrs)

hours: 3.3333333333333335

## Author
Pranav Bharadhwaj